// color palette
$navy: #011c2c;
$yellow: #e2ef1c;
$dark-gray: #63727e;
$blue: #007aed;
$teal: #00b0b9;
$purple: #8860ed;
$red: #fb3d41;
$black: #000;
$white: #fff;
$text-black: #222;
$light-gray: #ddd;