@import 'normalize';
@import 'variables';
@import 'typography';

body {
  background-color: $navy;
  font: {
    family: $font-roboto;
    weight: 300;
    size: 1rem;
  }
  color: $text-black;
}
h2 {
  font: {
    family: $font-roboto;
    weight: 500;
  }
  color: $navy;
  margin: 0 0 1rem 0;
}
p {
  margin: 0;
}

#main-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 3rem;
  &.form-stuff-page {
    position: relative;
    width: 80%;
    max-width: 960px;
    margin: 1.5rem auto;
    background-color: $white;
    border-radius: 0.5rem;
  }
}
.video-container {
  position: relative;
  width: 100%;
  height: auto;
  video {
    width: 100%;
  }
  .play-pause {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    a {
      .icon-svg {
        width: 26px;
        height: 26px;

        .yellow-- {
          color: $yellow;
          transition: all 0.2s linear;
          &:hover {
            color: $white;
          }
        }
        .navy-- {
          color: $navy;
        }
        .blue-- {
          color: $blue;
        }
        .white-- {
          color: $white;
          transition: all 0.2s linear;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}
.no-display {
  display: none !important;
}
// form stuff page
#experimental-form {
  .form-group {
    width: 37.5rem;
    margin: 0 0 1.25rem;
    &-label {
      display: inline-block;
      width: auto;
      margin: 0 0 6px;
      &--checkbox {
        font-weight: 400;
      }
    }
    .form-control {
      width: 100%;
      padding: 6px 8px;
      &.custom-select {
        display: block;
        width: 75%;
        height: 2.2rem;
      }
      &[type="checkbox"] {
        width: auto;
        display: inline-flex;
        padding: 0;
        margin: 0 8px 0 0;
      }
    }
    .checkbox-item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin: 0 0 3px 0;
    }
  }
}
label, .checkbox-group-title {
  font: {
    family: $font-roboto;
    weight: 500;
    size: 1rem;
  }
  color: $navy;
}
.checkbox-group-title {
  margin: 0 0 6px;
}
button {
  border: 0;
  cursor: pointer;
  &.button {
    padding: 8px 16px;
    font: {
      family: $font-roboto;
      weight: 500;
      size: 1.25rem;
    }
    color: $navy;
    border: 2px solid $navy;
    background-color: $white;
    border-radius: 8px;
    transition: all .2s linear;
    &:hover {
      color: $white;
      background-color: $navy;
    }
    &--blue {
      color: $white;
      background-color: $blue;
      border: 2px solid $blue;
      transition: all .2s linear;
      &:hover {
        color: $blue;
        background-color: $white;
      }
    }
  }
}
