@use "variables" as var;
@use "mixins" as m;
@use "functions" as *;

.main-nav-desktop {
  display: none;

  @include m.respond-to("lg") {
    display: flex;
  }
}

.main-nav-mobile {
  display: flex;

  @include m.respond-to("lg") {
    display: none;
  }
}

.hamburger-menu {
  &--icon {
    height: 19px;
    position: relative;
    width: 23px;

    &.x-config {
      .hamburger-menu--rule {
        &-1 {
          top: 8px;
          transform: rotate(-45deg);
        }

        &-2 {
          opacity: 0;
        }

        &-3 {
          top: 0.5rem;
          transform: rotate(45deg);
        }
      }
    }
  }

  &--rule {
    background-color: color("secondary");
    border-radius: 0.09375rem;
    height: 0.1875rem;
    line-height: 0;
    display: block;
    opacity: 1;
    position: absolute;
    width: 23px;
    transition: all var.$button-transition-timing linear;

    &-1 {
      top: 0;
    }

    &-2 {
      top: 8px;
    }

    &-3 {
      top: 16px;
    }
  }
}
