.flex {
  display: flex;
  flex-flow: row nowrap;
}

.flex--left {
  justify-content: flex-start;
}

.flex--right {
  justify-content: flex-end;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--vertical-center {
  align-items: center;
}

.flex--vertical-top {
  align-items: flex-start;
}

.flex--vertical-end {
  align-items: flex-end;
}

.flex--baseline {
  align-items: baseline;
}

body {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.header {
  height: 105px;
  width: 100%;
}

.header-logo {
  height: 3.9412rem;
}
