// sass --watch skew-experiments/scss/style.scss:skew-experiments/css/style.css

$gap-coefficient: 0.0419861731; // tan(4.8º) / 2
$gap-safety: 0.25rem;
$yellow: #fff96d;
$gap-height: $gap-coefficient * 100vw;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #222;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 1.25rem;
}

#main-nav {
  background-color: darkblue;
  display: block;
  height: 112px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#main-content {
  padding-top: 112px;
  width: 100%;
}

.in-nav-header {
  color: #fff;
}

.text {

  &--uc {
    text-transform: uppercase;
  }

  &--ls {

    &-1 {
      letter-spacing: 1px;
    }

    &-2 {
      letter-spacing: 2px;
    }
  }
}

.skew-section {
  background-color: transparent;
  padding: 4rem 0 0;
  position: relative;

  &:before {
    background-image: linear-gradient($yellow, $yellow);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: skewY(-4.8deg);    
  }

  .content-container {
    padding-bottom: calc(#{$gap-coefficient} * 100%);
    position: relative;
    z-index: 1;

    @media (min-width: 768px) {
      padding-bottom: calc(#{$gap-coefficient} * 66%);
    }
  }

  .gap-fill {
    background-color: $yellow;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(#{$gap-height} + #{$gap-safety});
    width: 100%;
    z-index: 0;
  }
}

.eyebrow {

  font: {
    size: 0.875rem;
    weight: 600;
  }
  letter-spacing: 2px;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
